body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav{
    padding: 4rem;
    display: flex;
    width: 100vw;
    justify-content: right;
}

.nav a{
    margin-left: 2rem;
}

.nav-button{
    color: black;
    background-color: white;
    border: 3px solid rgb(209, 209, 209);
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.nav-button:hover{
    cursor: pointer;
}

.main{
    display: flex;
    /* background-color: lightblue; */
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 6rem;
    z-index: 2;
    position: absolute;
    /* color: #fff; */
    text-shadow: 1px 4px 5px rgb(255, 255, 255);
}

.card{
    position: relative;
    background: linear-gradient(220.55deg, rgba(102, 102, 102, 0.63) -34.12%, rgba(61, 61, 61, 0.83) 38.87%, rgba(0, 0, 0, 0.79) 82.9%);
    min-width: 15%;
    min-height: 40%;
    box-shadow: 0px 5px 10px 5px #00000054;
    border-radius: 30px;
    z-index: 1;
}

.card:nth-of-type(2){
    bottom: 17vh;
    left: 5vw;
}

.card:nth-of-type(1){
    right: 5vw;
    top: 18vh;
}

/* .card */