.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__form{
    display: flex;
    flex-direction: column;
}

.main__form input{
    margin-bottom: 1.5rem;
    border-radius: 30px;
    border: 3px solid black;
    padding: 1rem;
}

.main__form-submit{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
}

.main__form-submit:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
}

label{
    margin-bottom: 0.5rem;
    font-weight: 700;
}