{% extends "profile.html.twig" %}
{% set username = username %}
{% set cash = cash %}

{% block content %}
	<link rel="stylesheet" href="/application/stylesheets/formInput.css">
	<div class="main-change">
		<h1>Change your password</h1>
		<form class="main_form" action="/register" method="POST">
			<label for="login">Old password:</label>
			<input class="main_form-input" name="new_login">
			<label for="password">New Password:</label>
			<input class="main_form-input" name="new_password" type="password">
			<label for="password">Confirm Password:</label>
			<input
			class="main_form-input" name="confirm_password" type="password">
			{# <p>Already have an account? <a href="/login">Log In</a></p> #}
			<input class="main_form-submit" type="submit" value="Change">
		</form>
	</div>
{% endblock %}
{% block active %}
	<script>
		const page = document.querySelector("#account");
        page.classList.add("active")
	</script>
{% endblock %}

{# <head>
	<title>BlackJack</title>
	<link rel="shortcut icon" type="image/x-icon" href="/application/images/icon.ico">
	<link rel="stylesheet" href="/application/stylesheets/formInput.css">
	<link rel="stylesheet" href="/application/stylesheets/forall.css">
</head>

<body></body></html> #}
