<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="forall.css">
    <link rel="stylesheet" href="game.css">

</head>

<body>
    <div class="board">
        <div class="game"></div>
        <hr>
        <div class="players">
            <div class="players__card">
                <div class="image"><img src="https://www.w3schools.com/css/paris.jpg"></div>
                <p class="players__name">G1</p>
                <p class="players__points">12</p>
            </div>
            <div class="players__card">
                <div class="image"></div>
                <p class="players__name">G1</p>
            </div>
            <div class="players__card">
                <div class="image"></div>
                <p class="players__name">G2</p>
                
            </div>
        </div>
    </div>

</body>

</html>