<html>

	<head>
		<title>BlackJack</title>
		<link rel="shortcut icon" type="image/x-icon" href="/application/images/icon.ico">
		<link rel="stylesheet" href="/application/stylesheets/forall.css">
		<link rel="stylesheet" href="/application/stylesheets/lobby.css">
	</head>

	<body>
		<div class="canvas">
			<form class="lobbyPlayers" id='lobbyPlayers' action="game" method="POST">
				<div class="playerCard" id="player1">
					<select name="player1Type" id="player1Type">
						<option value="100">Host</option>
						<option value="0">Guest</option>
						<option value="1">Easy Ai</option>
						<option value="2">Medium Ai</option>
						<option value="3">Hard Ai</option>
					</select>
					<input type="text" name="player1Name" id="player1Name">
					<select name="player1Bet">
						<option value="0">Don`t bet</option>
						<option value="1">Player1</option>
						<option value="2">Player2</option>
						<option value="3">Player3</option>
						<option value="4">Player4</option>
					</select>
					<input type="player1BetValue" min="5" max="40">
				</div>
				<div class="playerCard" id="player2">
					<select name="player2Type" id="player2Type">
						<option value="10">User</option>
						<option value="0">Guest</option>
						<option value="1">Easy Ai</option>
						<option value="2">Medium Ai</option>
						<option value="3">Hard Ai</option>
					</select>
					<input type="text" name="player2Name" id="player2Name">
					<select name="player2Bet">
						<option value="0">Don`t bet</option>
						<option value="1">Player1</option>
						<option value="2">Player2</option>
						<option value="3">Player3</option>
						<option value="4">Player4</option>
					</select>
					<input type="player2BetValue" min="5" max="40">
				</div>
				<div
					class="playerCard" id="player3">
					{# <div class="plus" id="plus"><img src="/application/images/plus-xxl.png"></div> #}
					<select name="player3Type" id="player3Type">
						<option value="9999"></option>
						<option value="10">User</option>
						<option value="0">Guest</option>
						<option value="1">Easy Ai</option>
						<option value="2">Medium Ai</option>
						<option value="3">Hard Ai</option>
					</select>

					<input type="text" name="player3Name" id="player3Name">
					<select name="player3Bet">
						<option value="0">Don`t bet</option>
						<option value="1">Player1</option>
						<option value="2">Player2</option>
						<option value="3">Player3</option>
						<option value="4">Player4</option>
					</select>
					<input type="player3BetValue" min="5" max="40">
				</div>
				<div
					class="playerCard" id="player4">
					{# <div class="plus" id="plus"><img src="/application/images/plus-xxl.png"></div>
					                 #}
					<select name="player4Type" id="player4Type">
						<option value="9999"></option>
						<option value="10">User</option>
						<option value="0">Guest</option>
						<option value="1">Easy Ai</option>
						<option value="2">Medium Ai</option>
						<option value="3">Hard Ai</option>
					</select>
					<input type="text" name="player4Name" id="player4Name">
					<select name="player4Bet">
						<option value="0">Don`t bet</option>
						<option value="1">Player1</option>
						<option value="2">Player2</option>
						<option value="3">Player3</option>
						<option value="4">Player4</option>
					</select>
					<input type="player4BetValue" min="5" max="40">
				</div>
				<div class="bottomPanel">
					<select name="numberOfDecks" id="costam">
						<option value="0">Unlimited Deck</option>
						<option value="1">1 Deck</option>
						<option value="2">2 Decks</option>
						<option value="3">3 Decks</option>
					</select>
					<input type="submit" class="submit-button" value="Start Game" onclick="handleSubmit()">
				</div>
			</form>
		</div>
		<script src="/application/scripts/lobby.js"></script>
	</body>

</html>
