<html>

<head>
    <title>BlackJack</title>
    <link rel="shortcut icon" type="image/x-icon" href="/application/images/icon.ico">
    <link rel="stylesheet" href="/application/stylesheets/forall.css">
    <link rel="stylesheet" href="/application/stylesheets/lobby.css">
</head>

<body>
    <div class="canvas">
        <form class="lobbyPlayers" id='lobbyPlayers' action="game" method="POST">
            <div class="playerCard" id="player1">
                <select name="player1Type" id="player1Type">
                    <option value="100">Host</option>
                    <option value="0">Guest</option>
                    <option value="1">Easy Ai</option>
                    <option value="2">Medium Ai</option>
                    <option value="3">Hard Ai</option>
                </select>
                <input type="text" name="player1Name" id="player1Name">
            </div>
            <div class="playerCard" id="player2">
                <select name="player2Type" id="player2Type">
                    <option value="10">User</option>
                    <option value="0">Guest</option>
                    <option value="1">Easy Ai</option>
                    <option value="2">Medium Ai</option>
                    <option value="3">Hard Ai</option>
                </select>
                <input type="text" name="player2Name" id="player2Name">

            </div>
            <div class="playerCard" id="player3">
                {# <div class="plus" id="plus"><img src="/application/images/plus-xxl.png"></div> #}
                <select name="player3Type" id="player3Type">
                    <option value="9999"></option>
                    <option value="10">User</option>
                    <option value="0">Guest</option>
                    <option value="1">Easy Ai</option>
                    <option value="2">Medium Ai</option>
                    <option value="3">Hard Ai</option>
                </select>
                <input type="text" name="player3Name" id="player3Name">

            </div>
            <div class="playerCard" id="player4">
                {# <div class="plus" id="plus"><img src="/application/images/plus-xxl.png"></div>
                 #}
                 <select name="player4Type" id="player4Type">
                    <option value="9999"></option>
                    <option value="10">User</option>
                    <option value="0">Guest</option>
                    <option value="1">Easy Ai</option>
                    <option value="2">Medium Ai</option>
                    <option value="3">Hard Ai</option>
                </select>
                <input type="text" name="player4Name" id="player4Name">
            </div>
               <div class="bottomPanel">
                <input type="submit" class="submit-button" value="Start Game" onclick="handleSubmit()">
            </div>
        </form>
    </div>
    <script src="/application/scripts/lobby.js"></script>
</body>

</html>