<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/application/stylesheets/formInput.css">
    <link rel="stylesheet" href="/application/stylesheets/forall.css">
</head>

<body>
    <div class="main">
        <h1>Sign In</h1>
        <form class="main_form">
            <label for="login">Login:</label>
            <input class="main_form-input" name="login">
            <label for="password">Password:</label>
            <input class="main_form-input" name="password" type="password">
            <p>Don't have an account yet? <a href="register.html">Register</a></p>
            <input class="main_form-submit" type="submit" value="Login">
        </form>
    </div>
</body>

</html>