<!DOCTYPE html>
<html>

<head>
    <title>BlackJack</title>
    <link rel="stylesheet" href="/application/stylesheets/main.css">
    <link rel="stylesheet" href="/application/stylesheets/forall.css">
</head>

<body>
    <nav class="nav">
        <ul>
            <a href="/application/php_templates/login.php"><button class="nav-button">Log in</button></a>
            <a href="/application/html_templates/register.html.twig"><button class="nav-button">Register</button></a>
            <a href="/application/html_templates/profile.html.twig"><button class="nav-button">Profile (DEV ONLY BUTTON)</button></a>
            <a href="/application/html_templates/game.html.twig"><button class="nav-button">Game (DEV ONLY BUTTON)</button></a>
        </ul>
    </nav>
    <h3>Log in to play!</h3>
    <div class="main">
        
        <h1>BlackJack</h1>
        <div class="card"></div>
        <div class="card" id="rotated"></div>
    </div>
</body>

</html>