<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="stylesheet" href="/application/stylesheets/forall.css">
		<link rel="stylesheet" href="/application/stylesheets/profile.css">
	</head>

	<body>
		<div class="main">
			<nav class="nav">
				<div class="nav__name">
					<h1>BestPlayer</h1>
					<h2>Cash: <h2>
				</div>
				<ul class="nav__list">
					<li class="nav__list-item">
						<a href="/profile" id="game">Game</a>
					</li>
					<li class="nav__list-item" >
						<a href="/statistics" id="statistics">Statistics</a>
					</li>
					<li class="nav__list-item">
						<a href="/skins" id="skins">Skins</a>
					</li>
					<li class="nav__list-item">
						<a href="/achievements" id="achiev">Achievements</a>
					</li>
					<li class="nav__list-item">
						<a href="/shop" id="shop">Shop</a>
					</li>
				</ul>
				<a href="/logout"><button class="nav__button">Logout</button></a>
			</nav>
			{% block content %}
				<div class="game">
					<a href="/lobby" class="lobby_link"><button class="game__button-start">Start Game</button></a>
					<div class="game__card">
						<h3>Won Games</h3><hr></div>
					<div class="game__card">
						<h3>Achievements</h3><hr></div>
				</div>
			{% endblock %}

		</div>

	</body>

{% block active %}
<script>
    const page = document.querySelector("#game");
    page.classList.add("active")
</script>

{% endblock %}

</html>
