<html>

	<head>
		<link rel="stylesheet" href="/application/stylesheets/forall.css">
		<link rel="stylesheet" href="/application/stylesheets/profile.css">
	</head>

	<body>
		<div class="main">
			<nav class="nav">
				<h1 class="nav__name">BestPlayer</h1>
				<ul class="nav__list">
					<li class="nav__list-item">
						<a href="/statistics">Statistics</a>
					</li>
					<li class="nav__list-item">
						<a href="/skins">Skins</a>
					</li>
					<li class="nav__list-item">
						<a href="/achievements">Achievements</a>
					</li>
					<li class="nav__list-item">
						<a href="/shop">Shop</a>
					</li>
				</ul>
				<a href="/logout"><button class="nav__button">Logout</button></a>
			</nav>
			{% block content %}
				<div class="game">
					<a href="/lobby"><button class="game__button-start">Start Game</button></a>
					<div class="game__card">
						<h3>Won Games</h3><hr></div>
					<div class="game__card">
						<h3>Achievements</h3><hr></div>
				</div>
			{% endblock %}

		</div>

	</body>

</html>
