{% extends "profile.html.twig" %}

{% block content %}
	<link rel="stylesheet" href="/application/stylesheets/shop.css">

    <div class="shop">
        <ul class="shop__list">
            <li class="shop__list-item">
                <img class="skin__image" src="https://www.w3schools.com/css/paris.jpg" alt="elo">
                <h2 class="skin__name">Skin1</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
             <li class="shop__list-item">
                <img class="skin__image" src="https://www.w3schools.com/css/paris.jpg" alt="elo">
                <h2 class="skin__name">Skin2</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
             <li class="shop__list-item">
                <img class="skin__image" src="https://www.w3schools.com/css/paris.jpg" alt="elo">
                <h2 class="skin__name">Skin3</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
              <li class="shop__list-item">
                <img class="skin__image" src="https://www.w3schools.com/css/paris.jpg" alt="elo">
                <h2 class="skin__name">Skin3</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
              <li class="shop__list-item">
                <img class="skin__image" src="https://www.w3schools.com/css/paris.jpg" alt="elo">
                <h2 class="skin__name">Skin3</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
              <li class="shop__list-item">
                <img class="skin__image" src="https://www.w3schools.com/css/paris.jpg" alt="elo">
                <h2 class="skin__name">Skin3</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
              <li class="shop__list-item">
                <img class="skin__image" src="" alt="elo">
                <h2 class="skin__name">Skin3</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>
              <li class="shop__list-item">
                <img class="skin__image" src="" alt="elo">
                <h2 class="skin__name">Skin3</h2>
                <p class="skin__price">Price: 20$</p>
                <button class="skin__buy-button">Buy</button>
            </li>

        </ul>
    </div>
{% endblock %}