{% extends "profile.html.twig" %}

{% block content %}
<div>
    <p>Eloasddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
</div>
{% endblock %}
{% block active %}
<script>
    const page = document.querySelector("#statistics");
    page.classList.add("active")
</script>

{% endblock %}